.qa-info {
  background: #d3d3d3 !important;
  color: #0078d4 !important;
  border-radius: 4px !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 10px !important;
  line-height: .8 !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  display: block !important;
}

.qa-target {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 2px !important;
  width: auto !important;
  align-self: flex-start !important;
  justify-content: flex-start !important;
  text-align: left !important;
}